@import "src/App";

.table-container {
  width: 100%;
  overflow-x: auto;
  &-head__row {
    font-weight: bold;
  }
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  table {
    display: block;
  }
}
